body{
  width: 100%;
  margin: 0px;
}

.overlay{
  margin: 0%;
}

nav{
  width: 100%;
}
nav ul{
  display: inline-flex;
  border: solid 1px;
  justify-content: space-around;
  background-image: 
  linear-gradient( rgba(0,0,0,.7), rgba(0,0,0,.8) ),
  url("sink.jpg");
  list-style: none;
  height: 250px;
  background-position: center;
  background-size: 100%;
  align-items: center;
  width: 100%;
  margin: 0px;
  max-width: 97%;
}
 nav ul li{
    color: white;
    margin-top: 10%;
    margin-right: 3%;
    font-family: Work Sans;
    letter-spacing: .7px;
    font-size: 18px;
 }