body{
  width: 100%;
  margin: 0px;
}

.overlay{
  margin: 0%;
}
nav ul{
  display: inline-flex;
  border: solid 1px;
  justify-content: space-between;
  width: 95%;
  background-image: 
  linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.7) ),
  url("sink.jpg");
  list-style: none;
  height: 250px;
  background-position: center;
  background-size: 100%;
  align-content: center;
  width: 100%;
  margin: 0px;
}
 nav ul li{
    color: white;
    margin-top: 10%;
    margin-right: 3%;
    font-family: Work Sans;
    letter-spacing: .7px;
 }